.day {
    display: none;
    margin-bottom: 10px;
}

.schedule {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mon, .tue, .wed, .thur, .fri {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.mon p, .tue p, .wed p, .thur p, .fri p {
    font-weight: bold;
}

.time-slot {

}

button {
    margin-top: 20px;
}


