* {
    padding: 0;
    margin: 0;
    height: auto;
}

body {
    /* background-color: rgb(10, 10, 10)    ; */
}

p {
    margin: 0;
}

a:hover, a {
    text-decoration: none;
}

body {
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: center;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.header {
    height: 110px;
    width: 90%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    justify-content: center;
    align-items: center;
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden; */
}

.header .name {
    font-size: 1.5rem;
    /* width: 30%; */
    overflow: hidden;
}

.header .logo img {
    width: 150px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    /* width: 45%; */
}

.header-content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.header .content-box {
    padding: 30px;
    padding-bottom: 10px;
    padding-top: 0;
    border-bottom: 2px solid transparent;
}

.header .content-box:hover {
    border-bottom: 2px solid #2E4C59;
    transition-duration: 500ms;
}

.header .active {
    border-bottom: 2px solid #2E4C59;
    height: 100%;
}

.header-select {
    background-color: transparent;
    color: black;
    border: none
}

.header-button {
    display: flex;
    justify-content: end;
    height: auto;
    width: auto;
    padding-bottom: 10px;
}

.sign-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 130px;
    height: 40px;
    background-color: #4688C3;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.sign-button p {
    margin: auto;
    color: white;
}

.sign-button img {
    width: 30px;
    height: auto;
}

.head-end {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.search-form {
    display: flex;
    height: 40px;
    align-self: center;
    padding-bottom: 10px;
}

.search {
    border-radius: 3px;
    border: 1px solid black;
    font-size: 13px;
    width: 150px;
    padding: 0 6px;
    height: 100%;
}