@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Poppins:wght@400;500;600&display=swap');

.policy-main {
    margin: 20px 70px 100px;
}

.policy-container h1, h2 {
    color: #268AC9;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.policy-container p {
    margin-bottom: 15px;
    font-family: 'Istok Web', sans-serif;
    color: #67748E;
}

.policy-container ul {
    list-style-type: disc;
    margin-bottom: 15px;
}

.policy-container a {
    color: #268AC9;
    text-decoration: none;
}

.policy-container a:hover {
    text-decoration: underline;
}

.policy-container h2 {
    border-bottom: 2px solid #268AC9;
    padding-bottom: 5px;
    margin-top: 20px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.policy-container li {
  margin-bottom: 5px;
}

@media only screen and (max-width: 600px) {
    .policy-container {
        font-size: 14px;
    }
}