.room-margin{
    display: flex;
    justify-content: center;
}

.room-container{
    width: 93%;
}

.branch-room{ 
    overflow: hidden;
    width: 100%;
    max-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.branch-room img{
    width: 100%;
    height: auto;
}

.text-title h1{
    font-family: 'Fira Sans Condensed', sans-serif;
    position: absolute;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    top: 25%;
    left: 8%;
}

.room-image img{
    width: 500px;
    height: 500px;
}

.room-type-container {
    margin: 50px;
    display: flex;
}

.room-type {
    display: flex;
}

.room-type a {
    margin-right: 20px;
}

.room-details {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.room-details h1{
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #013F6B;
    margin-bottom: 30px;
}   

.room-desc p{
    font-family: 'Heebo', sans-serif;
    margin-top: 20px;
    font-size: 22px;
    width: 90%;
    line-height: 50px;
}

.room-info {
    display: flex;
    margin-bottom: 10px;
}

.room-info p {
    font-family: 'Heebo', sans-serif;
    margin-right: 100px;
    font-size: 24px;
}

.book-button {
    background-color: #3498db; /* Example color for the button */
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 30px;
    border-radius: 5px;
    width: 140px;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
