@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=IBM+Plex+Serif:wght@100&family=Nanum+Myeongjo:wght@800&display=swap');

.roomdetail-margin {
    display: flex;
    justify-content: center;
}

.roomdetail-header1{
    padding-top: 100px;
    object-fit: contain;
    height: 500px;
    margin-bottom: 350px;
}

.roomdetail-header1 img{
    width: 100%;
    height: 650px;
    border-radius: 15px;
    margin-top: 30px;
    object-fit: cover;
}

.text-title h1{
    position: absolute;
    font-size: 3.5rem;
    font-weight: bold;
    color: white;
    top: 35%;
    left: 8%;
}

.container-abs {
    width: 70%;
    position: absolute;
    bottom: -7%;
    left: 15%;
    right: 15%;
}

.roomdetail-margin{
    display: flex;
    justify-content: center;
}

.roomdetail-container{
    width: 93%;
    display: flex;
    flex-direction: column;
}

.roomdetail-header-margin {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container-roomdetail-info {
    width: 93%;
}

.roomdetail-header {
    overflow: hidden;
    width: 100%;
    max-height: 600px;
    display: flex;
    align-items: start;
}

.roomdetail-textinfo{
    margin-right: 30px;
    flex: 1;
}

.roomdetail-textinfo h1{
    color: #013F6B;
    font-family:'Abril Fatface', serif;
    margin-bottom: 15px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.roomdetail-textinfo h2{
    font-size: 0.8rem;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
    width: 70%;
}

.roomdetail-textinfo h3{
    font-size: 1.2rem;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
}

.roomdetail-textinfo h4{
    font-size: 1rem;
    margin-top: 20px;
    color: #013F6B;
    
}

.roomdetail-textinfo hr{
    border: 2px solid orange;
    border-radius: 5px;
}

.roomdetail-info hr{
    border: 2px solid orange;
    border-radius: 5px;
    width: 47%;
}

.roomdetail-info{
    margin-top: 5px;
}

.roomdetail-header img{
    width: 100%;
    object-fit: contain;
}

.roomdetail-image {
    height: 100%;
    width: 45%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.roomdetail-imginfo{
    margin-bottom: 20px;
}

.roomdetail-imginfo img{
    width: 300px;
    height: 200px;
}

.roomdetail-info h4{
    font-size: 1rem;
    margin-top: 40px;
    color: #013F6B;
    margin-bottom: 40px;
}

.roomdetail-info iframe{
    width: 450px;
    height: 250px;
}

.box {
    width: 300px;
    height: 250px;
    border: 5px solid #E6AD76;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    float: right;
}

.box h1, .box h2, .box a {
    margin: 10px 0; 
}

.box h1 {
    font-family: 'Abril Fatface', serif;
    font-size: 25px;
    margin-bottom: 0;
}

.box h2 {
    font-family: 'Abril Fatface', serif;
    color: #E6AD76;
    text-align: center;
}

.box a {
    background-color: #E6AD76;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.7s; 
    width: 150px;
    align-self: center; 
    text-align: center;
}

.box a:hover {
    background-color: rgb(185, 124, 66);
}

.text-title{
    margin-top: 100px;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.roomdetail-info iframe{
    box-shadow: 0 0 15px #E6AD76;
}

.info-item {
    display: flex;
    align-items: center; 
}

.info-item p {
    margin: 0; 
    margin-right: 20px;
}

.button-back {
    margin-top: 40px;
    margin-bottom: 40px;
}

.button-back a{
    background-color: #cecccc; 
    padding: 10px 80px;
    color: black;
    font-weight: bold;
    transition-duration: 0.4s;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    width: 15%;
}

.button-back a:hover{
    color: white;
    background-color: #707070;
}

/* CSS TIMETABLE */

.schedule-container {
    max-width: 700px;
}

.schedule {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
}

.day-schedule {
    padding: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.day-name {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.schedule-title-roomdetails {
    background-color: #268AC9;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.schedule-title-roomdetails h5{
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.time-slots {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.time-slot {
    padding: 10px;
    height: 100%; /* Set the height to 100% to match the container height */
    background-color: white; /* Set the initial background color */
}

.time-slots .time-slot:nth-child(2n) {
    background-color: #f0f0f0;
}


.time-slot.booked {
    background-color: #e6e6e6;
    color: white;
}

.time-slot.disabled {
    background-color: #E6AD76 !important;
    cursor: not-allowed;
}

.left-column {
    display: flex;
    flex-direction: column;
    grid-column: 1; /* Set to the first column of the grid */
    width: 100px;
}

.leftcolumn-time {
    font-size: 12px;
    padding: 5px;
}

.left-column .day-name {
    font-weight: bold;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 600px) {
    .schedule {
        grid-template-columns: 1fr; /* Change to a single column for smaller screens */
    }
}